/****************************
# google fonts
****************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}
.author {
	position: -webkit-sticky;
	position: sticky;
	top: 50px;
	width: 200px;
	border-radius: 0% 0% 78%;
	z-index: 999;
	padding: 10px;
	display: inline-block;
	background: #fff;
}
.author .info {
	-webkit-transform: rotate(330deg);
	-moz-transform: rotate(330deg);
	transform: rotate(330deg);
	margin: 15px 0 0px 0px;
}
.author .info h3 {
	font-size: 15px;
	margin-bottom: 0;
	font-weight: 700;
	display: inline-block;
}
/****************************
start form styling
****************************/
form .input-field{
	width: 100%;
	height: 50px;
	background: #f0f0f0;
	border-radius: 60px;
	margin: 15px 0;
	display: grid;
	grid-template-columns: 10% 90%;
	padding: 0 10px;
}
form .input-field i {
	line-height: 50px;
	color: #acacac;
	font-size: 1.2rem;
}
form .input-field input {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
}
form .input-field input::placeholder {
	color: #aaa;
}
form .social-icon a {
	width: 50px;
	height: 50px;
	font-size: 1.6rem;
	border: 2px solid #007bff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 .40rem;
	text-decoration: none;
	border-radius: 50%;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}
form .social-icon a:hover {
	background: #007bff;
	color: #fff;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 360px;
    margin-left: -260;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 1rem;
    margin-left: 589px;
	margin-top: -25px;
	margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}