/* Default styles */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: right;
  margin-bottom: 150px;
}

.navbar ul {
  float: right;
  margin-right: 50px;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgb(119, 241, 241);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.page {
  display: none;
}

.page.active {
  display: block;
}
